astroid==3.3.9
certifi==2025.1.31
charset-normalizer==3.4.1
clang==11.0
ctypeslib2==2.4.0
dill==0.3.9
flake8==7.2.0
idna==3.10
isort==6.0.1
mccabe==0.7.0
platformdirs==4.3.7
pycodestyle==2.13.0
pyflakes==3.3.2
pylint==3.3.6
requests==2.32.3
tomlkit==0.13.2
# Editable Git install with no remote (toxdoor==0.1)
-e /home/mint/Work/toxdoor
urllib3==2.3.0
